certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
fake-useragent==0.1.11
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
lmdb==0.95
matplotlib
numpy
pandas
Pillow==6.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
requests
scikit-learn
scipy
six
sklearn
torch==1.1.0
torchfile==0.1.0
torchvision==0.3.0
tornado==6.0.2
tqdm==4.32.1
urllib3==1.25.3
visdom==0.1.8.8
websocket-client==0.56.0
imblearn
